.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  color: #000;
}

a:hover, a:hover div p:last-child {
  color: #535bf2;
}

h1 {
  text-align: center;
}

button, #main a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #dfdfdf;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
}

button:hover, #main a:hover {
  border-color: #396cd8;
}
button:active, #main a:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

#greet-input {
  margin-right: 5px;
}

a {
  font-weight: 500;
  text-decoration: none;
}

#data a {
  display: block;
  border-bottom: 2px solid #bbb;
  padding: 4px;
}

h3 {
  text-align: left;
  margin: 6px 0px;
}

a div {
  text-align: left;
}

a div p {
  display: inline-block;
  margin: 0px;
  padding-right: 6px;
}

p:last-child {
  color: #777;
}

#back {
  font-size: 24px;
  position: absolute;
  top: 12px;
  left: 12px;
}

#main {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
}

@media (prefers-color-scheme: dark) {
  :root, a, button, #main a {
    color: #f0f0f0;
    background-color: #2f2f2f;
  }

  #data a {
    border-color: #444;
  }

  a:hover, a:hover div p:last-child {
    color: #24c8db;
  }

  button, #main a {
    background-color: #0f0f0f98;
  }
  button:active, #main a:active {
    background-color: #0f0f0f69;
  }
}